= ks_element :id => "dashboard", 
             :data => { :title => "Dashboard",
                        :container => "mockup_two_column_content",
                        :"container-ajax" => docs_path(:page => "mockup/layout") } do
  .notebook_page
    %h1 Reminders
    %h3 bacon
    :markdown
      don't forget the bacon
    %h3 milk
    :markdown
      don't forget the milk
    %h3 ears
    :markdown
      wash behind your ears
  .simple