= ks_element :id => "orals_by_day", 
             :data => { :title => "orals_by_day",
                        :container => "mockup_two_column_content",
                        :"container-ajax" => docs_path(:page => "mockup/layout") } do
  .panel
    %h1 Scientific Program
    %h2 Oral Sessions
    .calendar_icon
      11
      %em 12月
    .calendar_icon
      12
      %em 12月
    .calendar_icon
      13
      %em 12月
    .calendar_icon
      14
      %em 12月
    %div{:style => "clear:both"}

    %h2 Poster Sessions
    .calendar_icon
      11
      %em 12月
    .calendar_icon
      12
      %em 12月
    .calendar_icon
      13
      %em 12月
    .calendar_icon
      14
      %em 12月
    %div{:style => "clear:both"}

    %h2 Forums
    .calendar_icon
      11
      %em 12月
    .calendar_icon
      12
      %em 12月
    .calendar_icon
      13
      %em 12月
    .calendar_icon
      14
      %em 12月
    %div{:style => "clear:both"}
