= ks_element :id => "private_messages", 
             :data => { :title => "Private Messages",
                        :container => "mockup_two_column_content",
                        :"container-ajax" => docs_path(:page => "mockup/layout") } do
  .panel_title List of messages
  .paneled_list
    %ul
      %li fee
      %li fi
      %li fo
      %li fum
  .panel_title List of drinks
  .paneled_list
    %ul
      %li bloody mary
      %li gin tonic
      %li weissbier
      %li sake
