= ks_element :id => "settings", 
             :data => { :title => "Settings",
                        :container => "mockup_two_column_content",
                        :"container-ajax" => docs_path(:page => "mockup/layout") } do
  .settings_page
    .panel_title Your name
    .panel
      %h3 Hello
      :markdown
        Do you want a simple fix
