= ks_hidden_page(:id => "mockup", 
                   :class => %w(program), 
                   :data => { :title => "Mockup" }) do
  = render :partial => 'docs/mockup/header'
  #mockup2_body.sliding_container{:style => "padding-top: 30px"}
