= ks_element :id => "presentation_#{@presentation.id}_comments" do
  - if current_user
    - @comment = Comment.new(:presentation_id => @presentation.id)

    = render :partial => 'comments/form'

  - @presentation.comments.order("rgt DESC").each do |c|
    = render :partial => 'presentations/comment', :locals => {:c => c}
