= ks_element :id => "edit_presentation",
             :data => {:container => "ponzu_frame",
                       :title => "Edit Presentation",
                       :container_ajax => static_path(:page => "ponzu_frame")} do
  .panel
    %h1 Editing presentation

    = render 'form'

