= ks_element :id => "epub", 
             :data => { :title => "電子書籍フォーマット",
                        :container => "homepage_two_column_content",
                        :"container-ajax" => docs_path(:page => "homepage/layout") } do
  .panel
    :markdown
      # 電子書籍対応

      日本では著作権などの関係でまだ一般的ではありませんが、米国ではタブレットなどで電子書籍を閲覧することがかなり普及してきています。学会抄録もまた書籍ですので、我々は抄録を電子書籍のフォーマットで提供することも行っています。

      ## メリット

      例えば学会抄録閲覧用のスマートフォンアプリを提供しているところがいくつかありますが、この機能のほとんどは電子書籍で事足ります。

      電子書籍は a) 検索 b) ブックマーク c) 目次 の機能が充実しています。

      PDFと比べて、特に目次機能が際立って使い勝手が良くなっています。また文字サイズを自在に変更できるなど、読みやすさに配慮がされています。

      ## 問題点

      まだ日本では使用者が少ないのが現状です。

      ## Castle104のサービス

      Castle104は学会抄録サービスに無償でePub形式の書き出しを付けています。