= ks_element :id => "i18n", 
             :data => { :title => "多言語対応",
                        :container => "homepage_two_column_content",
                        :"container-ajax" => docs_path(:page => "homepage/layout") } do
  .panel
    :markdown
      # 完全な多言語対応

      国内の留学生が外国からの招待演者など、日本語を多少は話せても漢字が読めない参加者はどの学会でも相当数います。そのためウェブサイトに英語の翻訳を用意することは珍しくありませんが、しかし抄録システムに関しては多言語化がおろそかになっているケースが非常に目立ちます。

      Castle104の学会抄録システムでは完全な多言語対応をしています。演題だけでなく、ウェブサイトのボタンやメニュー、さらには中身の文章を完全に英語化しています（極端に量が多くなければ、ネイティブに近い翻訳を無償で行います）。外国の参加者が一切不自由しないような作りにしています。

      すべての人に恵みのあるIT。Castle104のモットーです。