= ks_element :id => "homepage_introduction", 
             :data => { :title => "Introduction",
                        :container => "homepage_two_column_content",
                        :"container-ajax" => docs_path(:page => "homepage/layout") } do
  .panel
    :markdown
      # 革新的な学会ITシステム