= ks_element :id => "multidevice", 
             :data => { :title => "Introduction",
                        :container => "homepage_two_column_content",
                        :"container-ajax" => docs_path(:page => "homepage/layout") } do
  .panel
    :markdown
      # 全員が満足するマルチデバイス

      ### スマートフォンを使っていない人はまだ70%もいる

      スマートフォンが普及し、学会の抄録集をスマートフォンアプリにすることが一般的になってきました。しかし日本のスマートフォンの普及率はまだ30%程度です。しかも発言権が強い高齢の教授ほど普及率が低く、参加費を免除されている学生ほど普及率が高くなっています。

      それでも本当にスマートフォンアプリに注力をするべきですか？我々はそう考えていません。

      我々はすべての人の満足度をあげてやることこそがIT化の神髄だと考えています。IT化は若者だけのものではないのです。

      ### タブレットから紙まで、真のマルチデバイス対応

      Castle104のマルチデバイス対応は一切の手抜き無しです。紙を含めたすべての媒体において、既存の学会を越えることに我々は執念を燃やしています。

      1. **パソコン:** 研究者なら全員パソコンは持っています。学会の予習に使うのは必ずパソコンです。また学会で口頭発表するにはパソコンを持参する必要があります。したがって一番大切なのはパソコン上ですごく使いやすい抄録集です。
      2. **PDF:** 
      3. **iMode, EZWebなどの携帯電話:** 
      4. **iPhone, Androidなどのスマートフォン:** 
      5. **iPadなどのタブレット:** 
