= ks_element :id => "homepage_pricing", 
             :data => { :title => "Pricing",
                        :container => "homepage_two_column_content",
                        :"container-ajax" => docs_path(:page => "homepage/layout") } do
  .panel
    :markdown
      # 最先端だから安い

      ITの世界では「高機能だから高い」とか「低機能だから安い」ということはありません。アップル社のiPadやiPodを見てもわかるように、革新的な最先端の製品が、それまでの常識を覆す低価格で提供されることは珍しくありません。

      Steve Jobs氏はiPadの発売に際してこう述べました。"iPad is our most advanced technology in a magical and revolutionary device at an unbelievable price."

      Castle104が提供する学会抄録システムも同じです。

      まだサービスを開始して間もないので価格設定は固定していませんが、ご予算に合わせて最高のシステムを提供いたしますので、是非ご連絡ください。

      ## 価格を安くするために我々が行っている工夫

      1.  **専属の営業マンがいない:**
      2.  **最先端の開発ツールを利用:** Castle104では世界で最も先進的なウェブ開発ツールであるRuby on Railsを使っています。このため開発コストを下げ、開発スピードを上げ、さらに高い完成度の製品を提供できるのはこのためです。
      3.  **再利用可能な最先端のライブラリーを自作:** 世界のトップIT企業でもあまり使っていない技術を利用するために、我々はKamishibai.jsという新しいライブラリーを作成しました。このライブラリーは学会抄録集だけではなく、今閲覧しているウェブサイトにも利用されている、汎用性の高いものです。このライブラリーのおかげで、最先端の機能を低価格で提供することが可能になっています。
      4.  **Webの最先端技術を活用:** 他社はiOSアプリやAndroidアプリなどを開発することが多いようですが、これではなかなかコストが下がりません。多額を投資して開発したアプリを使い回すことになりますので、機能追加も簡単にできません。合わせてパソコン用のウェブサイトやiMode用のウェブサイトを作れば、コストはどんどんかさんできます。我々はウェブの最先端の技術を徹底的に活用することで、たった一つのプラットフォームでiPhone, Android, iPadそしてiModeやパソコン用のウェブサイトを作っています。コストが大幅に下げられる上、開発時間の短縮が可能で、機能追加や変更が容易です。
      5.  **作業工程の自動化:**
