= ks_element :id => "recursive_1" do
  = ks_ajax_placeholder(:id => "recursive_2", 
                        :data => {:ajax => docs_path('tests/recursive_2')},
                        :style => "background-color: red;padding: 10px")