- if !(consolidated_info(users, :profile).empty?)
  %div
    = sanitize consolidated_info(users, :profile).join('<br />').html_safe
%div{:style => "margin-top: 20px"}
  - all_flags = {:club_out => [:school_search, :acad_job_search, :corp_job_search], 
             :club_in => [:school_avail, :acad_job_avail, :corp_job_avail], 
             :heart => [:male_partner_search, :female_partner_search]}
  - all_flags.each do |css_class, flags|
    - flags.each do |flag|
      - if !(consolidated_info(users, flag).empty?)
        %div
          %span{:class => css_class, :style => "display:inline-block;"}
            &nbsp;
          = t("flags.#{flag}")
