<div id="flip_transition" class="page">
  <div class="panel test_results">
    <h3>Flip transition success!</h3>
  </div>
  <div class="panel">
    <h3>Links to tests</h3>
    <ul>
      <li><a href="/ks_tests/ks_tests_full_page_animations">Go back to transition testing home.</a></li>
    </ul>
  </div>

</div>