%div{id: "notifications"}
  - if !@notifications.blank?
    %div{style:"box-sizing: border-box; width:100%;background-color:rgba(255,128,0,0.9); border: solid 5px yellow;border-radius: 10px;"}
      %div{style:"padding:10px;border-radius: 10px;"}
        = @notifications.html_safe

