<div class="backdrop page" id="<%= "poster_session_list_#{params[:id]}"%>" data-title="<%= t('titles.poster_sessions', :day => @day) %>">
  <%= render :partial => 'layouts/s_header' %>
  <%= render :partial => 'timetable_list' %>
</div>
