- highlight_authors = [] unless highlight_authors
- other_highlight_authors = [] unless other_highlight_authors
= authors_list(submission, highlight_authors, other_highlight_authors, true, true, true)
