= ks_element :id => "new_submission",
             :data => {:container => "ponzu_frame",
                       :"container-ajax" => static_path("ponzu_frame")} do
  .panel
    %h1 New submission

    %fieldset
      %legend Submission Basic information
      = render 'form'
