<h2>お問い合わせ先</h2>
<h3>ウェブサイトの使い方や不具合について</h3>
<div>
	<span class="pink">■</span> <%= link_to "IT企画Twitter", "http://mobile.twitter.com/mbsj2012it" %>
</div>
<div>
	<span class="pink">■</span> <%= link_to "IT企画メール", "mailto:mbsj35-it@convention.co.jp" %>
</div>
<p>
	学会参加受付にも担当者がいますので、ご不明な点があればいらしてください。
</p>
