<h2>良くある質問 (FAQ)</h2>
<span class="pink">■</span> フィーチャーフォン専用サイトについて<br />
<p>このサイトは、iMode、EZWebなどに最適化したサイトです。ポスターマップや時間割などはありませんが、演題検索、「いいね！」、「マイ・スケジュール」、「夜ゼミ」などはすべて利用できます。</p>
<span class="pink">■</span> PC版、スマートフォン版サイトとの同期<br />
<p>フィーチャーフォン、PC、スマートフォン、iPadタブレットなどとの間で自動的に「いいね！」、「マイ・スケジュール」は同期されます。またパスワード変更も、すべてのデバイスに共有されます。</p>
<span class="pink">■</span> お問い合わせについて<br />
<p>お問い合わせは<a href="http://twitter.com/mbsj2012it">Twitter</a>の他、学会受付横のサポートデスクでも承っています。</p>
