<%= ks_element :id => "faqs",
               :data => {
                 :container => "ipadish_content",
                 :title => t('titles.faqs'),
                 :position => 80
               } do %>
  <div class="panel">
    <h3>ログアウトの仕方</h3>
    <p>画面右上の「ようこそ○×さん」のリンクをクリックしてください。ログアウトのリンクが表示されます。</p>
    <h3>パスワードの変更</h3>
    <p>画面右上の「ようこそ○×さん」のリンクからユーザ設定画面に移り、そこからパスワードの変更をしてください。</p>
    <h3>オフラインでの利用について</h3>
    <p>本オンライン抄録システムは、特別なアプリケーションをインストールすることなく利用できるウェブサイトです。しかし通常のウェブサイトと異なり、オフラインでの利用を想定して作られています。特にポスター会場などではWiFiがつながらないというトラブルが発生しやすく、その場合にオフライン機能が役立ちます。</p>
    <p>オフライン機能では、一度閲覧したことがあるページはすべてブラウザの中にため込まれ、ネットワーク接続ができない場合はため込まれた方のページを表示します。また「いいね！」したり「マイ・スケジュール」に入れたものは、仮に別のPCで閲覧したものであっても、ご利用のすべてのブラウザの中にため込まれます。つまり「いいね！」したり「マイ・スケジュール」に入れたものは確実にブラウザにため込まれます。</p>
    <p>ただしInternet Explorerは10を除いて、完全なオフラインを実現するための機能がありません。その場合はInternet Explorer 10を利用するか、新しいバージョンのFirefoxやChromeをご利用ください。</p>
    <h3>データの同期</h3>
    <p>データは常時サーバに送信され、ネットワーク接続があれば一定の時間間隔でサーバから情報をダウンロードします。通常はデータの同期を意識する必要はありません。</p>
    <h3>不具合があったときの対処方法</h3>
    <p>特にオフライン機能を実現するに当たり、通常のウェブサイトでは起こらないような問題が発生する可能性があります。一つの対処方法は画面右上の「ようこそ○×さん」のリンクから「キャッシュ消去」をすると、問題が解決することがあります。それもで解決しない場合は、大変ご面倒をおかけしますが、<a href="http://twitter.com/mbsj2012it">Twitter</a>で連絡するか、もしくは大会受付のサポートデスクにいらしくてください。</p>
  </div>
  <%= render :partial => 'layouts/biokaimono' %>
<% end %>