- cache ['v0', 'ponzu_admin_frame', Time.zone.now.strftime("%Y%m%d"), can?(:manage, :all), can?(:clear, Kamishibai::Cache)] do
  = ks_hidden_page(:id => "ponzu_body", 
                     :class => %w(program), 
                     :data => { :title => "Ponzu Admin Frame" }) do
    #print_message_header
      = t('print_message_header.message')
    #ponzu_admin_frame.sliding_container
