= ponzu_frame do

  %h1 Reports run by rake
  :markdown
    ### :similar_author_reports

    * [report](/reports/similar_by_en_name.html)
    * [report](/reports/similar_by_jp_name.html)

    ### :whitelisting_report

    * [report](/reports/whitelisting_report.html)

    ### :dissimilar_authorships_report

    * [report](/reports/dissimilar_authorships_report.html)
