<div id="wait_for_pdf" class="program page">
  <div class="panel">
    <h2>PDFは今準備中です</h2>

    <p>申し訳ありませんが、PDFは現在準備中です。</p>

    <p>例年よりも格段に見やすく、多少デザインをしてみたPDFを用意していますので、もうしばらくお待ちください。</p>
  </div>

  <div class="panel">
    <h2>The PDFs are now in preparation.</h2>

    <p>We are sorry but the PDFs are not yet ready.</p>

    <p>We are creating PDFs that are much easier to read and have a nice design. Please wait a few more moments.</p>
  </div>

  <%= render :partial => 'layouts/biokaimono' %>

</div>
