= ponzu_frame :data => {:title => "JSDB2013: Welcome"} do
  .panel
    = image_tag 'ponzu/GodfreyKneller-IsaacNewton-1689_256.jpg', 
                :style => "width: 30%;max-width: 128px;max-height: 128px;float:left;margin: 0 10px 10px 0;border: solid 0px #FFF;box-shadow: 1px 1px 4px #666;"
    %h1{:style => "font-size: 30px;line-height:30px;"} Welcome to the Ponzu Demo website
    %div{:style => "clear:both"}
    %div.text.auto-hyphen
      :markdown
        Thank you for visiting this Ponzu Demo website. 

        This demo showcases the Ponzu Scientific Conference System. Almost all features are available to explore. Please play around and get to know the system.

        We hope that you will find it to be truly revolutionary and immensely exciting.

        ## What is Ponzu?

        Ponzu(ポン酢) is a Japanese word for a citrus-based refreshing Japanese sauce. The Japanese use it as a dip for meaty dishes like shabu-shabu. Ponzu conceals the greasy taste of fat, making the meat more pleasant to eat and boosting our appetites.

        Similarly, the Ponzu Scientific Conference System aims to make the *meat* of the conference (the presentations and heated discussions) more exciting, refreshing and more savory.

        Ponzu evolved from the online abstract system for the 35th Annual Meeting of the Molecular Biology Society of Japan ([website](http://www2.convention.co.jp/mbsj2012/). The information system itself is offline.). The program has been released as open source, and is free for anyone to use. Castle104 is commited to improving the system going forward.

        ## Ponzu is Social
        In science we have "societies" and "communities". The largest scientific group in Japan calls itself "The Molecular Biology Society of Japan", for example. Hence scientific conferences are in essence, social and communal events.

        Ponzu builds upon this basic concept. We have brought ideas from the Social Internet (i.e. Facebook, Twitter) and incorporated them into the Ponzu Scientific Conference System.

        Our hope is that by enhancing the *social* factor and causing scientists of varied geographical locations and research interests to know each other, we can promote learning and innovation.

        ### Likes

        For example, Ponzu has "likes". "Likes" are a way communicating appreciation for a presentation. The system itself is similar to bookmarks and favorites that are common on other conference systems, but with one vitally important difference; the speaker and co-authors can view a list of everybody who "liked".

        This feature opens up a variety of possible exciting scenarios. For example, a speaker could view the "likes" before their presentation, look up their profiles and gain an understanding of the audience. Additionally, if you find a "liker" whom you are interested in collaborating with, you could use the Ponzu system to send them a message and meet up at the venue.

        My favorite scenario is when a renown scientist "likes" a presentation by an aspiring one. The aspiring scientist may be hugely encouraged and could follow up, asking the renown scientist's opinion and maybe ask for a job opportunity.

        ## Ponzu is about attending

        Ponzu is about the physical conference and face-to-face communications. Unlike other IT solutions like video streaming, Ponzu is completely focused on the experience on the ground, at the conference venue.

        One example of our focus on attending is our revolutionary approach to poster navigation.

        That is why we have created the world's first interactive poster map system, which makes it vastly easier to navigate the often huge poster sessions within the limited time.

        It is also why we have Yoruzemi, a bulletin board system to 

    %p
      %br/
      %br/
      Chief architect and developer of Ponzu
      %br/
      %br/
      Naofumi Kagami
      %br/
      Castle104, LLC
