= ponzu_frame do
  .panel
    :markdown
      ## 第 46 回日本発生生物学会年会 保育室のご案内
      
      保育室の利用を希望される方は、以下の規定を御確認の上、所定の手続き方法に従って日本語でお申込ください。なお保育士は英語を話せません。

      ### 託児時間

      5 月 29 日(水) 8:00 ~ 20:00  
      5 月 30 日(木) 8:00 ~ 19:00  
      5 月 31 日(金) 8:00 ~ 16:00  
      (*原則としてお子様の昼食は、保護者が一緒におとりください。)

      ### 対象年齢
      生後 3 ヶ月から 12 歳まで(大会参加者のお子様に限る)

      ### 託児場所
      ※セキュリティ確保の為、お申込者のみにご案内致します。

      ### 託児形態
      託児の会へ保育士派遣を依頼します。

      ### 委託先
      ちゅうりっぷ託児の会

      ### 託児料
      500 円/時間/お子さま 1 名(1 時間未満は切上げ)  
      保育料のお支払いは、お子様をお預けの際にお願いします。  
      *申込みによりシッターが派遣されますので、当日のキャンセルや、実際の利用時間 が申込時間よりも短くなった場合は、申込時の保育料のお支払いをお願いします。また、 利用時間をやむを得ず延長された場合には、延長分のお支払いをお願いします。

      ### 申込み先

      「利用規約(PDF94KB)」を確認のうえ、必要事項を記入した「申込書(PDF84KB)」 を FAX または E メールにてお申し込みください。 
      
      1. 後日、詳細を記載しました「受領確認書」をお申し込み頂いた方法で返信します。  
      お申し込み後一週間以内に受領確認書が届かない場合には、下記の「申し込み先・お問い合わせ先」まで必ずお問い合わせください。 

      ※ 保育室の場所は、受領確認書に記載させていただきます。  
      ※ 電話での受付は 078-306-3072(平日 9:00 ~ 17:00)   
      ■申し込み先・お問い合わせ先  
      日本発生生物学会 事務局  
      担当:桃津  
      FAX: 078-306-3072  E-mail: jsdb2013@jsdb.jp TEL: 078-306-3072(平日 9:00 ~ 17:00)

      ### 申込締切

      **2013年5月8日(水)17時00分**  
      ただし、定員になり次第締め切らせて頂きますのでお早めにお申込み下さい。

      ---------

      不測の事故に対応するために、ちゅうりっぷ託児の会が保険に加入しており、保険適用範囲で補償い たします、また第 46 回日本発生生物学会年会は、事故の責任は負わないことを申し添えます。