= ponzu_frame do
  .panel
    :markdown
      <h1>Instruction for Presentations<br /></h1>
      <br>
      <b>Oral presentations</b><br>
      We generally recommend that speakers use their own PCs for their presentations. Please come to your session room at least 30 min prior to the beginning and connect your PC to a PC switcher. Alternatively, you can also use organizer-provided PCs in the conference rooms, but we do not guarantee device compatibility for each file. Although we can accept data from a USB flash drive or a CD-ROM, it is better to bring your data in at least 2 different methods. Slide projectors or overhead projectors will not be available.<br>
      <br>
      Oral presentation: 8 min for presentation and 4 min for discussion. <br>
      Flash Talk: 4 min presentation only.<br>
      Satellite Workshops: 10min presentation including discussion.<br>
      <br>
      <b>Attention: Personal computer information</b><br>
      The operating systems of the computer at the meeting venue are Window 7 and Mac OS X 10.6. <br>
      <br>
      Windows format files: <br>
      - Please copy your data onto a USB flash drive or a CD-ROM (Windows format). <br>
      - The system can support Windows PowerPoint 2003, 2007, and 2010. <br>
      - To avoid undesired changes of the slide layouts, we recommend using the following fonts: MS Gothic, MS Mincho, Times New Roman, or Century. <br>
      <br>
      Macintosh format files: <br>
      - Please copy your data onto a USB flash drive or CD-ROM (Macintosh format). <br>
      - The system can support Macintosh PowerPoint 2004, 2008, and 2011; and Keynote 3, 4, and 5. <br>
      - Please use standard fonts installed in the program. <br>
      - If your presentation includes movies, please confirm beforehand that they can run properly on another computer. We recommend bringing your own computer to the venue as a backup. <br>
      <br>
      * If your presentation includes movies, please confirm beforehand that they can run properly on another computer, or use your own PC.<br>
      <br>
      For using your own PC:<br>
      - We accept Windows (Windows XP or later) or Macintosh (Mac OSX or later) PCs. <br>
      - You can use PowerPoint (Windows, Mac) or Keynote (Mac) for presentation. <br>
      - Make sure to bring any necessary electrical adaptors and connectors for your computer. <br>
      - The meeting venue will provide a Mini D-sub15 pin cable for connecting to PC switchers. Macintosh and certain kinds of Windows computers require an appropriate connector to fit a Mini D-sub15 pin plug. <br>
      - Electric power in Matsue is provided at 100V, 60Hz.<br>
      - In case your computer does not work, please bring your backup files on a USB flash drive or a CD-ROM.<br>
      <br>
      <br>
      <b>Poster Presentations</b><br>
      Poster board size: 1200 mm (width) x 2100 mm (height)<br><br>
      • Please leave a 150 mm x 150 mm blank space at the top left corner for the organizing committee to indicate your poster number.<br>
      • During your assigned poster presentation time, please stay (or stand) in the vicinity of your poster for explanation.<br>
      • Best Presentation Awards will be given for several student presenters. Award winners will be selected using the web voting system by capable participants of the meeting, and will be announced after the meeting.<br>
      <br>
      <b>Poster: </b><br>
      Mounting: 9:00 - 13:00 on 29 May<br>
      Discussion:17:00 - 19:00 on 30 May<br>
      　　　 　　　　　 17:00 -18:00 for even number posters<br>
      　　　 　　　　　 18:00 - 19:00 for odd number posters<br>
      Removal: 12:00 - 16:00 on 31 May<br>
      <table>
      <tbody><tr><td>
      <img src="#{asset_path('jsdb2013/posternumber.jpg')}" width="350" height="400">
      </td></tr>
      </tbody></table>
      <br>
      <b>Chairpersons</b><br>
      All chairpersons are required to come to their assigned session rooms at least 30 min prior to the start of the session they will chair.<br>
