= ponzu_frame :data => {:title => "JSDB2013: Welcome"} do
  .panel
    = image_tag 'jsdb2013/takashi_matsuzaki.jpg', 
                :style => "float:left;margin: 0 10px 10px 0;border: solid 0px #FFF;box-shadow: 1px 1px 4px #666"
    %h1 Welcome to the 46th Annual Meeting of JSDB in Matsue!
    %div{:style => "clear:both"}
    :markdown
      <font color="red" size="3"><b>“Get back to the origin“</b></font><br>
      <div class="text auto-hyphen">
        I am pleased to inform you that the 46th annual meeting for the Japanese Society of Developmental Biologists (JSDB) cosponsored by the Asia-Pacific Developmental Biology Network (APDBN) will be held in Matsue in Shimane prefecture from May 28th to 31st 2013.<br>
        <br>
        Matsue is a compact and relaxing town located at about 600 km west of Tokyo and 150 km Northeast of Hiroshima. You can come to Matsue from Izumo airport or Yonago airport in 40 min, or taking JR line from Okayama.<br>
        The venue, KUNIBIKI MESSE is close to Matsue station, and most hotels are around the station, which allows you to reach the venue within 10 min walk from your hotels. <br>
        <br>
        In the meeting, we are planning to provide as much time for discussion as possible. For that, all presentations will be presented both in oral and poster. We have a big space where 400 posters of all presentations could be put for discussion during the whole meeting, which is next to or close to the rooms for oral presentation. You can discuss with data and photos by the poster boards after listening the talks, during lunch and rest, and also in the Banquet. <br>
        <br>
        By listening plenty of talks, including those not directly correlated with your work, and discussing with numerous colleagues, you must obtain lots of unexpected knowledge and novel ideas. For young researchers, one of most basic and substantial skills to be learned is to tell the pivotal points of their studies in a limited period. These used to be main purposes of our society meeting, but it has been difficult to get with poster-oriented presentation style these days. Therefore, we should get back to our initial standpoint once again.<br>
        <br>
        Coincidentally, it is 1300 years anniversary for publication of KOJIKI, the oldest Japanese book, describing that Shimane region was a central place in incunabula of Japanese history. We believe Matsue is the best place to return to the origin of our society.<br>
        <br>
        Please come to Matsue and enjoy discussing with many smart heads much more than those of YAMATANO-OROCHI, a mythological monster snake with eight heads as shown in our poster of the meeting. <br>
        <br>
        Lastly, do not miss beautiful sunset on Lake Shinji too.<br>
        We look forward to seeing you in Matsue.<br>
        <br>
      </div>
      <p>
        Takashi Matsuzaki<br>
        Chairperson<br>
        Organizing Committee of the 46th annual meeting of JSDB 2013
      </p>
      <font color="red">『もう一度原点に戻ろう』</font><br>
      <div class="text auto-hyphen">
        2013年5月28日から31日まで島根県松江市において、第46回日本発生生物学会年会がアジア太平洋発生生物学ネットワークの共催で開催されます。松江市は東京の西方約600km、広島の北西150kmに位置するこぢんまりとした落ち着いた街です。松江までは出雲空港からでも米子空港からでも40分ほどで着きますし、岡山からJR線も利用できます。学会会場の“くにびきメッセ”は松江駅近傍にありますので、駅前のホテルからは会場まで徒歩10分ほどです。<br>
        <br>
        今大会ではできるだけ多く討論時間が取れるようにと考えています。そのため、全演題とも口演とポスターの両方で発表していただく予定で、口演会場の近くに400演題全てのポスターを大会期間中ずっと掲示できる大きなスペースを用意します。口演の後、昼食や休息、そして懇親会の時など、ポスターボードに張られたデータを見ながらいつでもディスカッションしていただけます。<br>
        <br>
        自身の研究と直接関わりがないような口演やディスカッションもたくさん聞けるので、思ってもみなかったような話や斬新なアイディアに出会えるに違いありません。また、限られた時間の中で自分の研究の要点を伝えられるようになることは、とくに若い研究者が身につけるべき基本的なスキルです。こうした経験を積むことが昔の学会では当たり前でしたが、近年はポスター発表が主流となり難しくなってきています。そこで私たちはもう一度原点に立ち帰るべきだと考えました。<br>
        <br>
        奇遇なことに、今年は日本最古の書物である“古事記”編纂から1300年に当たります。古事記には島根地方が日本黎明期の中心の一つであったことが記されていますので、日本発生生物学会の原点に戻ってみようとするなら、松江こそがもっともふさわしい場所と思います。<br>
        <br>
        是非松江まで足を運び、学会ポスターに描きましたヤマタノオロチの頭数をはるかに凌ぐ多くの俊英達とのディスカッションをお楽しみください。また、美しい宍道湖の夕日もお忘れなく。<br>
        では、皆さんにお会いできるのを楽しみにしています。<br>
      </div>
      <p>
      大会長　松崎 貴（島根大学生物資源科学部）
      </p>
      <h2>Organizing Comittee</h2>
      <table border="0" width="100%">
        <tbody><tr><td colspan="2">Chairperson:</td></tr>
        <tr><td nowrap="">Takashi Matsuzaki</td><td>&nbsp;(Shimane Univ.)</td></tr>
        <tr><td colspan="2"><br></td></tr>
        <tr><td colspan="2">Members:</td></tr>
        <tr><td nowrap="">Akio Nishikawa</td><td>&nbsp;(Shimane Univ.)</td></tr>
        <tr><td nowrap="">Takashi Takeuchi</td><td>&nbsp;(Tottori Univ.)</td></tr>
        <tr><td nowrap="">Yasuaki Shirayoshi</td><td>&nbsp;(Tottori Univ.)</td></tr>
        <tr><td nowrap="">Hiroyuki Takeda</td><td>&nbsp;(Univ. of Tokyo)</td></tr>
        <tr><td nowrap="">Atsuko Sehara</td><td>&nbsp;(Kyoto Univ.)</td></tr>
        <tr><td nowrap="">Toshihiko Fujimori</td><td>&nbsp;(National Institute for Basic Biology)</td></tr>
        <tr><td nowrap="">Shigeo Hayashi</td><td>&nbsp;（RIKEN Center for Developmental Biology）</td></tr>
        <tr><td nowrap="">Yuji Kageyama</td><td>&nbsp;(Kobe Univ.)</td></tr>
        <tr><td nowrap="">Yoshihiko Maruyama</td><td>&nbsp;（Shimane Univ.）</td></tr>
        <tr><td nowrap="">Mikiko Miura</td><td>&nbsp;（Shimane Univ.）</td></tr>
        <tr><td nowrap="">Noritaka Hirohashi</td><td>&nbsp;（Shimane Univ.）</td></tr>
        <tr><td nowrap="">Toshinori Hayashi</td><td>&nbsp;（Tottori Univ.）</td></tr>
       </tbody>
      </table>