=ks_element :id => "edit_room",
            :data => {:container => "ponzu_frame",
                      :"container-ajax" => static_path(:page => "ponzu_frame")} do
  .panel
    %h1 Editing room

    = render 'form'

    = link_to 'Preview', ksp(@room)

    = render :partial => 'map', :locals => {:room => @room}