!!! 5
%head
  %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
  %body
    %h3
      = t('message_mailer.presentation_modified.header', 
          :number => @obj.number,
          :namespace => @conference.tag)

    %p
      = t('message_mailer.presentation_modified.view_web', 
          :link => ksp_and_galapagos_email_links(@obj),
          :namespace => @conference.tag)

    %p
      = mail_footer
