!!! 5
%head
  %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
  %body
    %h3
      = t('message_mailer.private_message.header', :namespace => @conference.tag)
    %blockquote
      = sanitize @body
    %p
      = t('message_mailer.private_message.view_web', 
          :link => ksp_and_galapagos_email_links(conversation_private_messages_path(:with => @obj)),
          :namespace => @conference.tag)
    %p
      = mail_footer
    
