= ponzu_frame do
  .panel
    %h1 Editing Announcement
    = render 'form'
    = link_to 'Show this announcement', ksp(@global_message)
    |
    = link_to 'List all announcements', ksp(global_messages_path)
