@import "../kamishibai/ks_settings";

textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
}

input[type=text], input[type=password] {
  box-sizing: border-box;
  width: 100%;  
  font-size: inherit;
}