<%= ks_element :id => "purpose_of_showcase",
               :data => {
                 :container => "ipadish_content",
                 :"container-ajax" => docs_path(:page => "showcase/layout"),
                 :title => "Purpose of showcase"
               } do %>
  <div class="panel">
    <h1>Hello</h1>
  </div>
<% end %>