<%= ks_element :id => "writing_pages",
               :data => {
                 :container => "ipadish_content",
                 :title => "How to write Kamishibai Pages",
                 :"container-ajax" => docs_path(:page => "showcase/layout")
               } do %>
  <div class="panel">
    <h1>How to write Kamishibai pages</h1>
    <p>
      Kamishibai has two types of pages. <tt>Page</tt> and <tt>Element</tt>. <tt>Page</tt> type
      pages are those that fill up the whole page. They are visually the same as regular HTML
      pages. <tt>Element</tt> type pages are a single components within a single page.
    </p>
    <p>
      Both types of page require
    </p>
  </div>
<% end %>