- cache ['v1', current_conference.id, I18n.locale] do
  = ""
  / %div(style="text-align:center;font-size:14px;margin:20px 0;line-height:30px;color:#999")
  /   %div(style="display:inline-block") designed and programmed by
  /   = link_to image_tag("logo_for_black.png", :style => "width:200px;vertical-align:middle"),
  /             "http://www.castle104.com", :target => "_blank"
