<div class="language_controls">
  <%= link_to "#{image_tag('japan_flag.png')}日".html_safe, "/ja", :class => "language_switch", 'data-animation' => "horizontalFlip" %>
  <%= link_to "#{image_tag('globe_icon_dark_blue.png')}En".html_safe, "/en", :class => "language_switch", 'data-animation' => "horizontalFlip" %> 
</div>
