<!DOCTYPE html>
<html manifest="/m/manifest">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,  user-scalable=yes, maximum-scale=2, minimum-scale=0.7">
<!--  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" /> -->
<!--  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script> -->
<!--  <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script> -->
  <%= stylesheet_link_tag    "m/application", :media => "all" %>
  <%#= javascript_include_tag "m/application" %>
  <%= csrf_meta_tags %>
  <title>MBSJ2012 Program</title>
</head>
<body>
  <%= yield %>
</body>
</html>
